{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} {%  endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}

    <!-- Comments section -->
    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            <p>{{ comment.text }}</p>
            <p>By: {{ comment.author.username }}</p>
            <p>Posted on: {{ comment.created }}</p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    
    {% include "blog/post/includes/comment_form.html" %}
{% endblock %}