{% extends 'blog/base.html' %}

{% block title %}DevStories{% endblock %}

{% block content %}
    {% for post in posts %}
        <h2>
            <a href="{% url "blog:post_detail" post.id %}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {% if post.body|length > 150 %}
            {{ post.body|truncatewords:50|linebreaks }}
            <a href="{% url "blog:post_detail" post.id %}" class="btn btn-primary read-more">Read More</a>
        {% else %}
            {{ post.body|linebreaks }}
        {% endif %}
    {% endfor %}
{% endblock %}