/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

/* Navigation bar styles */
.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #fff;
}

.navbar-dark .nav-link {  /* Applies to both normal and create-post-btn */
  color: #fff;
}

.navbar-dark .nav-link:hover {
  background-color: rgba(61, 17, 221, 0.1);
}

.create-post-btn, /* Group button styles */
.reply-btn {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.create-post-btn:hover,  /* Group button hover styles */
.reply-btn:hover {
  background-color: #0056b3;
}

.nav-link:not(.create-post-btn) {
  margin-left: 15px;
}

/* Content and sidebar styles */
#content {
  border-left: 1px solid #ddd;
  padding: 2rem;
  margin-right: 20px;
}

#sidebar {
  background-color: #f5f5f5;
  padding: 40px 20px;
  text-align: center;
  margin-right: 20px;
  width: 100%;
}

#sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#sidebar p {
  color: #666;
}

/* Other styles */
p.date {
  color: #333;
  font-family: georgia, serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 800;
}

.popular-posts li,
.recent-posts li {  /* Combine list styles */
  list-style: none;
  margin-bottom: 10px;
}

.popular-posts a,
.recent-posts a {  /* Combine anchor styles */
  color: #007bff;
  text-decoration: none;
}

.popular-posts a:hover,
.recent-posts a:hover {  /* Combine hover styles */
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: -50px;
}

